
PORT=8000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
POSTGRES_DB=employee-db

# The key change here is using localhost:5433 instead of employee-db-service:5433 in the DATABASE_URL. This works because:
# Inside Docker: containers use service names to communicate
# Outside Docker (your local machine): we use localhost with the mapped port (5433)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"